* {
    box-sizing: inherit;
}

html {
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.navbar_background {
    width: 100%;
}

.navbar_header {
    display: flex;
    position: relative;
    height: 100px;
    width: 100%;
    top: 0;
    background-color: #000;
}
header ul {
    margin-top: 40px;
    position: absolute;
   display: flex;
    list-style: none;
    font-size: 16px;
    justify-content: center;

}
.navbar_forright{
    margin-top: 6px;
   display: flex;
   margin-left: 1300px;
   align-items: center;
}
.navbar_forright input {
    width: 300px;
    border-radius: 4px;
}
.navbar_search{
    background-color: #fff;
    color: #000;
    padding: 8px 10px 6px 10px;
    border-radius: 4px;
    font-size: 20px;
    margin-left: 6px;
}
.navbar_search:hover{
    cursor: pointer;
    background-color: #999;
    color: #000;
}
header a {
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    font-size: 20px;
    margin: 0px 6px 0px 6px;
    color: #fff;
    text-decoration: none;
}
header a:hover{
    cursor: pointer;
    color: #999;
}
.navbar_img {
    position: relative;
}

.navbar_option {
    margin-left: 900px;
}

.navbar_ul {
    position: absolute;
    top: 0;
    margin-top: 34px;
    margin-left: 200px;
    list-style: none;
    display: flex;
}

.navbar_logo {
    border-radius: 10%;
    width: 100px;
}

.navbar_2-li {
    margin: 32px 0px 0px 32px;
}

.navbar_2-text {
    text-shadow: 2px 2px 2px #000;
    line-height: 70%;
    color: #fff;
}

.navbar_2-text:hover {
    cursor: pointer;
    color: #999;
}

.navbar_img-car {
    top: 0;
    margin-top: 140px;
    height: 120px;
    width: 100%;
    position: absolute;
}

.navbar_info1 {
    top: 0;
    margin-top: 700px;
    margin-left: 82px;
    position: absolute;
}

.navbar-info-text1 {
    text-shadow: 2px 2px 2px #000;
    color: #fff;
    display: block;
    font-size: 56px;
}

.navbar-info-text2 {
    text-shadow: 2px 2px 2px #000;
    color: #fff;
    display: block;
    font-size: 20px;
}


.navbar_info2 {
    text-align: right;
    top: 0;
    right: 0;
    margin-top: 800px;
    margin-right: 77px;
    position: absolute;
}

.navbar-info2-text1 {
    text-shadow: 2px 2px 2px #000;
    color: #fff;
    display: block;
    font-size: 56px;
}

.navbar-info2-text2 {
    text-shadow: 2px 2px 2px #000;
    color: #fff;
    display: block;
    font-size: 20px;
}

.option_1 {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 100px;
}

.option_info-text {
    margin-left: 100px;
}

.option_text-1,
.option_text-2,
.option_text-3 {
    display: block;
    font-size: 44px;
    width: 453px;


    font-family: Forza;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.option_text2 {
    text-align: justify;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;

}

.option-info-textandbutton {
    width: 500px;
}

.option_button {
    border-radius: 4px;
    margin-top: 24px;
    display: block;
    width: 170px;
    height: 51px;
    left: 654.33px;
    top: 187.96px;
    background-color: #333333;
    color: #fff;
}

.option_button:hover {
    background-color: #999;
    color: black;
}
.option_2{
    position: relative;
}
.option_2-info{
    margin-left: 120px;
    width: 320px;
    position: absolute;
    top: 0;
    margin-top: 320px;
}
.option_2-img{
    width: 100%;
}

.option_2-text-header{
    line-height: 1;
    font-size: 60px;
    color: #fff;
    margin-bottom: 14px;
}
.option_2-text-body{
    margin-top: 18px;
    color: #fff;
    display: block;
    font-size: 22px;
}

.option_2-button{
    margin-top: 14px;
    width: 170px;
    height: 51px;
    background-color: #fff;
    color: #000;
    display: block;
    border-radius: 4px;
}

.option_2-button:hover{
    background-color: #999;
    color: #fff;
}

.details{
    display: flex;
    justify-content: space-around;
}
.details_1{
    display: flex;
    justify-content: space-between;
     margin-top: 26px;
}
.details_1 img{
    margin-left: 16px;
    border-radius: 4px;
}
.details_info{
    margin-top: 80px;
    margin-right: 200px;
    width: 30%;
}
.details_textHead{
    line-height: 1;
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
}
.details_textBody{
    margin-top: 10px;
    display: block;
}

.details_2{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 50px;
}
.details_2 img{
 margin-right: 16px;
 border-radius: 4px;
}
.details_info2{
  margin-top: 80px;
  margin-left: 200px;
  width: 30%;
}


.details_textHead2{
    line-height: 1;
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
}
.details_textBody2{
    margin-top: 10px;
    display: block;
}

.example{
    display: flex;
    position: relative;
    width: 100%;
    height: 720px;
    background-color: #E5E5E5;
}

.example_text{
    position: absolute;
    margin-left: 550px;
    margin-top: 32px;
    font-size: 32px;
    color: #000;
    text-transform: uppercase;
}

.example_option{
    padding: 50px;
    background-color: #fff;
    margin-left: 350px;
    margin-top: 250px;
    display: flex;
    width: 978px;
    height: 348px;
    justify-content: center;
    align-items: center;
}

.example_option img{
    border-radius: 4px;
}
.example_option-text{
    margin-left: 20px;
}

.example_option-textHead{
 margin-left: 130px;
 
 line-height: 1;
 font-size: 40px;
 color: #000;
 text-transform: uppercase;
}

.example_option-textBody{
    display: block;
    margin-top: 50px;
    margin-left: 70px;
}

.example_option2{
    position: absolute;
   
    bottom: 0;
    width: 100%;
    margin-bottom: 30px;
   
}

.example_option2-text{
   margin-left: 800px;
    font-size: 40px;
 color: #000;
 text-transform: uppercase;
}

.example_option2-s{

    width: 100%;
    height: 4px;
    background-color: #000;
}

.sample{
    width: 100%;
    height: 527px;
}

.sample img{
    margin-top: 180px;
    width: 100%;
}

.sample_info{
    margin-top: 50px;
    text-align: center;
}
.sample_textHead{
    font-size: 40px;
 color: #000;
}
.sample_textBody{
    font-size: 40px;
    color: #000;
 display: block;
}

.sample_textFooter{
    display: block;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
   
}
.footer_option{
    font-weight: 100;
    text-align: center;
    color: #fff;
}

.footer_option2{
    font-weight: 200;
}

.go-top {
    cursor: pointer;
    position: fixed;
    border: 0;
    right: 10px;
    bottom: 5px;
    padding: 10px;
    z-index: 100;
}

.go-top img {
    height: 50px;
    width: 50px;
    
}

.footer_icon{
    margin-top: 6px;
    display: block;
}

.footer_icon a{
    font-size: 20px;
    margin-left: 4px;
    color: #fff;
}
body {
    background-image: url(../img/porche3.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}


.box_page{
    margin-bottom: 120px;
}

.box_main{
    margin-top: 60px;
    border-radius: 4px;
}

.footer_main{
    margin-bottom: 20px;
}

.footer_main button:hover{
    background-color: #999;
    color: #fff;
}