* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  display: flex;
  border: 1px;
  padding: 0 5px;
  width: 100%;
  font-size: 1.2em;
  display: grid;
  grid-template-areas:
    "header-cell"
    "nav-cell"
    "main-cell"
    "footer-cell"
    "left-cell"
    "artical-cell";
}

main {
  border: 1px solid #ccc7c8;
  padding: 0 5px;
  border-radius: 5px;
  display: grid;
  padding-bottom: 20px;
}

h1 {
  position: 0;
  margin-top: 16px;
  margin-bottom: 0px;
  border: none;
  padding: 0;
  text-transform: uppercase;
  color: #000;
  font-size: 28px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
}

h2 {
  position: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  padding: 0;
  color: #f90b6d;
  font-size: 24px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 28px;
}

h3 {
  position: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  padding: 0;
  color: #f90b6d;
  font-size: 20px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 24px;
}



.text-search {
  padding: 1px 0;
  font-size: 16px;
  grid-area: article-cell;
}



.button-marker {
  color: #bb3a40;
  background-color: #ffffff;
  padding: 2px;
  min-width: 25px;
  border: 0;
  margin: 0;
}






/* Gạch chân */
.gachchan {
  position: relative;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.gachchan::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(0, 0, 0), #ffffff, rgb(0, 0, 0));
}


.lienhe-nd {
  padding-bottom: 50px;
}
.lienhe-nd {
  text-align: center;
}

.gopy {
 
  padding-left: 600px;
}

.gopy-btn {
  color: #000000;
  background-color: #ffffff;
  padding: 2px;
  min-width: 25px;
  border: 0;
  margin: 0;
}

.button_gui{
  background-color: #000;
  color: #fff;
  margin-top: 12px;
  border-radius: 4px;
  width: 70px;
}

.input_info{
  margin-bottom: 12px;
  width: 387px;
  height: 40px;
}
.selection{
  margin-bottom: 12px;
}
/* aside {
  grid-area: left-cell;
  size: 1fr;
  float: left;
  width: 25%;
  text-align: left;
}

aside h1 {
  text-align: center;
}

.nd1-1 {
  text-align: left;
}

.hotnews img {
  padding-top: 20px;
  width: 95%;
  height: auto;
}

article {
  grid-area: artical-cell;
  size: 3fr;
  float: right;
  width: 75%;
  text-align: left;
}

article img {
  width: 30%;
  /* object-fit: cover; */
  /* align-items: flex-end;
  float: right;
}

article p {
  padding-bottom: 50px;
}

article h1 {
  padding-bottom: 20px;
} */ 
